# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Local data and databases
data/
*.db*
*.sqlite*

# Virtual environment
venv/
env/

# Hugging Face model cache
cache/

# IDE settings
.vscode/